@font-face {
	font-family: Gelasio;
	font-display: swap;
	src: url( "../fonts/Gelasio-Medium.woff2" ) format( "woff2" ), url( "../fonts/Gelasio-Medium.woff" ) format( "woff" );
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Gelasio;
	font-display: swap;
	src: url( "../fonts/Gelasio-Bold.woff2" ) format( "woff2" ), url( "../fonts/Gelasio-Bold.woff" ) format( "woff" );
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Ribeye;
	font-display: swap;
	src: url( "../fonts/Ribeye-Regular.woff2" ) format( "woff2" ), url( "../fonts/Ribeye-Regular.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url( "../fonts/Roboto-Medium.woff2" ) format( "woff2" ), url( "../fonts/Roboto-Medium.woff" ) format( "woff" );
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url( "../fonts/Roboto-Regular.woff2" ) format( "woff2" ), url( "../fonts/Roboto-Regular.woff" ) format( "woff" );
	font-weight: 400;
	font-style: normal;
}
