$titleColor: #000000;
$descriptionColor: rgba(0, 0, 0, 0.6);

%coverBg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

%absolute {
	position: absolute;

	content: "";
}

%flexBetween {
	display: flex;
	justify-content: space-between;
}

%verticalCenter {
	display: flex;
	align-items: center;
}

%menuLinkAfter {
	@extend %absolute;
	left: 0;
	right: 100%;
	bottom: 0;

	height: 1px;

	transition: .5s;
}