@media (max-width: 820px) {
	.featured-item {
		height: 250px;
	}



	.recent-item {
		width: 48%;
	}
}

@media (max-width: 768px) {
	.featured-posts__item-box {
		justify-content: center;
	}

	.featured-item {
		width: 75%;
	}
}

@media (max-width: 620px) {
	.header__menu-toggler_on {
		display: flex;
	}

	.header-menu {
		display: none;

		position: absolute;
		top: 0;
		right: 15px;
		
		flex-direction: column;

		gap: 25px;
		background-color: #2E2E2E;

		padding: 55px 70px;
	}

	.header-menu_actived {
		display: flex;
	}

	.header-menu__button-close {
		display: block;
	}



	.main-block__main-title {
		font-size: 40px;
	}



	.featured-item {
		width: 90%;
	}



	.recent-posts__item-box {
		justify-content: center;
	}

	.recent-item {
		width: 75%;
	}
}

@media (max-width: 520px) {
	.footer-menu {
		display: none;
	}
}

@media (max-width: 480px) {
	.main-block__main-title {
		font-size: 30px;
	}



	.blog-type__container {
		gap: 15px;
	}

	.blog-type__item {
		width: 30%;
	}



	.featured-item {
		width: 100%;
	}

	.featured-item__title {
		font-size: 20px;
	}


	.recent-posts {
		padding-bottom: 70px;
	}

	.recent-item {
		width: 90%;
	}



	.feedback-form {
		flex-direction: column;
	}

	.feedback-form__input {
		width: 100%;

		margin-bottom: 10px;
	}

	.feedback-form__button {
		width: 40%;

		margin-left: auto;
	}
}

@media (max-width: 420px) {
	.feedback-form__button {
		width: 50%;

		margin-left: auto;
	}

	.footer-bottom {
		padding: 25px 0;
	}
}

@media (max-width: 360px) {
	.main-block__main-title {
		font-size: 25px;
	}

	.main-block__mini-title {
		font-size: 16px;
	}



	.blog-type__container {
		gap: 10px;
	}

	.blog-type__item {
		width: 45%;
	}



	.featured-item {
		height: 225px;
	}



	.recent-item {
		width: 100%;
	}



	.feedback-form__button {
		width: 57%;

		margin-left: auto;
	}
}