/* Main styles */

body {
	/* font-size: px; */
	/* font-family: ; */
	/* color: ; */
}

.wrapper {
	min-height: 100%;
	
	display: flex;
	flex-direction: column;

	overflow: hidden;
}

[class*="__container"] {
	/* max-width: px; */
	/* padding: 0 px; */
	margin: 0 auto;
}

/* Main styles */