// Importing SCSS...
@import "reset";
@import "vars";

@import "fonts";
@import "plugins";



// Main styles

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	
	color: $titleColor;
}

.container {
	max-width: 1180px;
	
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

// Main styles



// Header styles

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;

	padding: 35px 0;

	&__container {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: auto;
	}

	&-nav {
		margin-right: 50px;
	}

	// &__button {
	// 	padding: 14px 35px;
	// }
}

// .menu-burger {
// 	position: relative;
// 	z-index: 99;

// 	width: 30px;
// 	height: 20px;

// 	justify-content: center;
// 	align-items: center;

// 	cursor: pointer;

// 	display: none;

// 	&__row {
// 		width: 100%;
// 		height: 2px;

// 		background-color: #ffffff;

// 		opacity: 1;

// 		transition: 0.75s;
// 	}

// 	&::before,
// 	&::after {
// 		position: absolute;
// 		left: 0;
// 		right: 0;
// 		height: 0;

// 		content: "";

// 		height: 2px;

// 		background-color: #ffffff;

// 		transition: .5s;
// 	}

// 	&::before {
// 		top: 0;
// 	}

// 	&::after {
// 		bottom: 0;
// 	}

// 	&_actived {
// 		.menu-burger__row {
// 			opacity: 0;

// 			transition: 0s;
// 		}

// 		&::before {
// 			top: 50%;
// 			transform: rotate(45deg);
// 		}

// 		&::after {
// 			top: 50%;
// 			transform: rotate(-45deg);
// 		}
// 	}
// }

.menu {
	display: flex;
	align-items: center;

	gap: 5% 50px;

	&__item_mobile-button {
		display: none;
	}

	&__link {
		font-weight: 500;
		line-height: 1.5;

		transition: .5s;

		&:hover {
			color: $activedColor;
		}
	}
}

// Header styles



// font-family: "DM Sans", sans-serif;
// font-family: "ProximaNova", sans-serif;



// Importing SCSS...
@import "media";