/* Reset styles */

html, body {
	box-sizing: border-box;

	line-height: 1;
}

*, *::before, *::after {
	box-sizing: inherit;

	outline: none;
	border: 0;

	padding: 0;
	margin: 0;
}

ul[class],
ol[class],
li[class] {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
	font: inherit;
	color: inherit;
}

a[class] {
	display: inline-block;

	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	
	display: inline-block;

	vertical-align: top;
}

input {
	font: inherit;
	color: inherit;

	background-color: transparent;

	outline: none;
}

::-webkit-input-placeholder {
	font: inherit;
}

::-moz-placeholder {
	font: inherit;
}

:-moz-placeholder {
	font: inherit;
}

:-ms-input-placeholder {
	font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

textarea {
	font: inherit;

	color: inherit;
	background-color: transparent;

	resize: none;
	outline: none;
}

button {
	font: inherit;
	color: inherit;
	
	background-color: transparent;

	cursor: pointer;

	border: none;
}

/* Reset styles */