@media (max-width: 1440px) {
	.main-block {
		overflow: hidden;
	}
}

@media (max-width: 1249px) {
	.main-block__img {
		right: -50px;
		bottom: -250px;

		width: 490px;
	}



	.popular-tools__item-box {
		row-gap: 50px;
	}

	.popular-tools__item {
		width: 40%;
	}
}

@media (max-width: 1200px) {
	.staff__slider-box {
		padding: 0 115px 105px 115px;
	}



	.footer-item + .footer-item {
		margin-right: 65px;
	}
}

@media (max-width: 1062px) {
	.new-tools__container {
		flex-direction: column;
		align-items: center;
	}

	.new-tools__info-box {
		max-width: 525px;

		text-align: center;
	}

	.new-tools__button_computer {
		display: none;
	}

	.new-tools__item-box {
		justify-content: center;

		column-gap: 90px;
	}

	.new-tools__button_mobile {
		display: inline-block;
	}



	.staff__slider-box {
		padding: 0 95px 105px 95px;
	}
}

@media (max-width: 992px) {
	.header__nav {
		order: 3;

		margin-left: 20px;
	}

	.menu-burger {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;

		transform: translateX(-100%);

		min-height: 100vh;

		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: #283036;
		gap: 20px;

		transition: .5s;
	}

	.menu_actived {
		transform: translateX(0);
	}

	.menu__link {
		font-size: 22px;
	}

	.categories-menu {
		position: relative;
		top: 0;

		padding-bottom: 0px;
	}

	.categories-menu__link {
		font-size: 20px;
	}



	.main-block__img {
		bottom: -200px;

		width: 400px;
	}



	.popular-tools {
		margin-top: 0;
	}

	.popular-tools__item {
		width: 48%;
	}

	.tools-item__title {
		font-size: 20px;
	}



	.brands__content {
		padding: 45px 55px;
	}

	.brands__title {
		margin-bottom: 40px;
	}

	.brands__item {
		transform: scale(0.8);
	}



	.staff__slider-box {
		padding-bottom: 70px;
	}

	.staff__slider-box .slick-arrow {
		top: 345px;
	}

	.staff-slide.slick-slide {
		flex-direction: column;
		align-items: center;
	}

	.worker-box {
		width: 350px;
	}

	.worker-box__text {
		bottom: 65px;
	}

	.worker-box__name {
		font-size: 20px;
	}

	.worker-box__post {
		font-size: 14px;
	}

	.quote-box {
		max-width: 525px;

		padding: 50px 0 0 50px;
		margin-top: -40px;
	}

	.quote-box__img {
		transform: translate(0, 0);
	}



	.footer-item + .footer-item {
		margin-right: 45px;
	}

	.footer-item_text-box {
		max-width: 230px;
	}
}

@media (max-width: 888px) {
	.main-block__img {
		bottom: -110px;
		width: 350px;
	}



	.brands {
		display: none;
	}



	.footer__item-box {
		justify-content: space-between;

		margin-right: 0;
	}

	.footer-item {
		max-width: 100%;
		width: 40%;
	}

	.footer-item, 
	.footer-item + .footer-item {
		margin-right: 0;
	}

	.footer-item_text-box {
		max-width: 100%;
		width: 50%;
	}

	.footer__description {
		max-width: 300px;
	}
}

@media (max-width: 820px) {
	.main-block__img {
		display: none;
	}
}

@media (max-width: 780px) {
	.popular-tools__item {
		width: 70%;
		min-height: 256px;
	}



	.new-tools__item-box {
		column-gap: 25px;
	}



	.quote-box {
		max-width: 100%;
	}
}

@media (max-width: 630px) {
	.page__title {
		font-size: 38px;
	}

	.page__input {
		width: 100%;
	}

	.page__description {
		font-size: 16px;
	}

	.main-block__title {
		font-size: 40px;
	}

	.main-block__description {
		font-size: 16px;
	}

	.main-block__search-box {
		margin-bottom: 80px;
	}



	.popular-tools__title {
		margin-bottom: 15px;
	}

	.popular-tools__description {
		margin-bottom: 60px;
	}
	
	.popular-tools__item {
		width: 85%;
	}



	.new-tools__title {
		margin-bottom: 15px;
	}

	.new-tools__description {
		margin-bottom: 40px;
	}

	.new-tools__item-box {
		row-gap: 35px;
	}



	.staff__slider-box {
		padding-left: 25px;
		padding-right: 25px;
	}



	.feedback {
		padding: 220px 0 210px 0;
	}

	.feedback__description {
		margin-bottom: 80px;
	}

	.footer-item {
		width: 46%;
	}
}

@media (max-width: 486px) {
	.header__logo .logo__text {
		display: none;
	}



	.main-block__title {
		max-width: 90%;

		font-size: 30px;
	}

	.main-block__description {
		max-width: 100%;
	}



	.popular-tools__item {
		width: 100%;
	}



	.new-tools {
		padding-bottom: 125px;
	}

	.new-tools__item {
		min-height: 235px;
	}



	.worker-box {
		width: 300px;
	}
	
	.worker-box__text {
		bottom: 80px;
	}

	.worker-box__name {
		font-size: 16px;
	}
	
	.worker-box__post {
		font-size: 12px;
	}

	.quote-box {
		margin-top: -80px;
	}



	.feedback__title {
		font-size: 32px;

		margin-bottom: 15px;
	}

	.feedback__description {
		font-size: 14px;
	}

	.footer__item-box {
		flex-direction: column;
		align-items: center;
	}

	.footer-item {
		width: 60%
	}
}

@media (max-width: 400px) {
	.page__title {
		font-size: 25px;
	}
	
	.page__description {
		font-size: 14px;
	}

	.page__input-button {
		padding: 12px 24px;
	}


	
	.main-block__title {
		max-width: 100%;
	}

	.main-block__description {
		font-size: 14px;
	}

	.main-block__search-input {
		padding-right: 155px;
	}



	.tools-item__title {
		font-size: 18px;
	}

	.tools-item__payment,
	.tools-item__description {
		font-size: 14px;
	}

	.tools-item__top-box,
	.tools-item__description {
		margin-bottom: 20px;
	}



	.popular-tools__item-box {
		row-gap: 35px;

		margin-bottom: 55px;
	}



	.staff__slider-box {
		padding-bottom: 0;
	}

	.staff__slider-box .slick-arrow {
		top: 50%;
	}

	.staff__slider-box .slick-prev {
		left: -10px;
	}
	
	.staff__slider-box .slick-next {
		right: -10px;
	}

	.worker-box {
		width: 250px;
	}

	.worker-box__text {
		right: -3px;
		bottom: 105px;
	}

	.quote-box {
		margin-top: -100px;
	}
}

@media (max-width: 364px) {
	.header {
		padding: 15px 0;
	}

	.menu {
		height: calc(100vh - 78px - 40px);
	}

	.header__button-box {
		gap: 20px;
	}



	.main-block__text-box {
		margin-bottom: 45px;
	}

	.main-block__title {
		font-size: 25px;
	}

	.main-block__search-box {
		margin-bottom: 60px;
	}

	.main-block__search-input {
		padding-right: 137px;
	}



	.new-tools {
		padding: 155px 0 125px 0;
	}

	.new-tools__item {
		width: 100%;
	}



	.quote-box__text {
		font-size: 12px;
	}



	.feedback {
		padding: 180px 0 150px 0;
	}

	.feedback-form__input {
		padding-right: 135px;
	}

	.footer-item {
		width: 100%
	}
}