/* Reset styles */

html, body {
	line-height: 1;
}

*, *::before, *::after {
	box-sizing: border-box;

	outline: none;
	border: 0;

	padding: 0;
	margin: 0;
}

ul, ol, li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
	font-size: inherit;
	font-weight: inherit;

	line-height: inherit;
}

img {
	vertical-align: top;
}

a {
	display: inline-block;

	color: inherit;
	text-decoration: none;
}

input {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	color: inherit;
	background-color: transparent;

	line-height: inherit;

	outline: none;
}

::-webkit-input-placeholder {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	line-height: inherit;
}

::-moz-placeholder {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	line-height: inherit;
}

:-moz-placeholder {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	line-height: inherit;
}

:-ms-input-placeholder {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	line-height: inherit;
}

textarea {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	color: inherit;
	background-color: transparent;

	line-height: inherit;

	resize: none;
	outline: none;
}

button {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;

	cursor: pointer;
	
	color: inherit;
	background-color: transparent;

	line-height: inherit;

	border: none;
}

/* Reset styles */